* {
	box-sizing: border-box;
}

.container {
	height: 400px;
	width: 400px;
	font-size: 0;
	text-align: center;
}

.item1 {
	display: block;
	height: 15%;
	background-color: #3838b1;
}

.item2 {
	display: block;
	height: 25%;
	text-align: center;
}

.item2__b1 {
	display: inline-block;
	height: 100%;
	width: 25%;
	background-color: #a82e2e;
}

.item2__b2 {
	display: inline-block;
	height: 100%;
	width: 25%;
	background-color: #44d246;
}


.item3 {
	display: block;
	height: 30%;
}

.item3__b1 {
	display: inline-block;
	height: 100%;
	width: 60%;
	background-color: #535eda;
}

.item3__b2 {
	display: inline-block;
	height: 100%;
	width: 40%;
	background-color: #ad14b1;
}


.item4 {
	display: block;
	height: 30%;
}

.item4__b1 {
	display: inline-block;
	height: 100%;
	width: 33.3%;
	background-color: #c279aa;
	border: 4px solid #000;
}

.item4__b2 {
	display: inline-block;
	height: 100%;
	width: 33.3%;
	background-color: #8ed41c;
	border: 4px solid #000;
	border-radius: 60px;
}

.item4__b3 {
	display: inline-block;
	height: 100%;
	width: 33.3%;
	background-color: #292e8f;
	border: 4px solid #000;
}